body{
font-family: Arial, sans-serif;
background: url("https://static.vecteezy.com/ti/vetor-gratis/t2/1270610-textura-gradiente-de-cor-vermelha-e-preta-gratis-vetor.jpg") no-repeat center center fixed;
background-size: cover;
color:white;
margin:0;
text-align:center;
position:relative;
}

/* HEADER */

header{
background:#111;
padding:12px 20px;
display:flex;
justify-content:flex-end;
border-bottom:1px solid #222;
}

.header-title{
font-weight:bold;
letter-spacing:2px;
color:#fff;
}

/* CONTAINER */

.container{
max-width:600px;
margin:auto;
padding:20px;
}

/* ALBUM CARD */

#album-card{
margin:20px 0;
}

.album-cover{
width:140px;
border-radius:8px;
box-shadow:0 0 12px rgba(0,0,0,0.6);
}

.album-title{
font-size:18px;
margin-top:10px;
font-weight:bold;
}

.album-artist{
font-size:14px;
color:#bbb;
}

/* TABLE */

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#1f1f1f;
padding:10px;
}

td{
padding:10px;
border-bottom:1px solid #333;
}

tr:nth-child(1){
background:#3a2f00;
}

tr:nth-child(2){
background:#2c2c2c;
}

tr:nth-child(3){
background:#2a1d0a;
}

.medal{
font-size:20px;
}

#total-scrobbles{
margin:20px auto;
padding:15px 20px;
max-width:400px;

background:#000;
border:1px solid #222;
border-radius:10px;

font-size:16px;
font-weight:bold;
color:#fff;

box-shadow:0 0 10px rgba(0,0,0,0.6);
}
