body{
margin:0;
font-family: Arial, sans-serif;
background: linear-gradient(180deg, #2a0000, #120000);
color:white;
}

/* TOPBAR */

.topbar{
position:fixed;
top:0;
left:0;
width:100%;
background:black;
padding:8px 15px;
display:flex;
justify-content:flex-end;
align-items:center;
box-sizing:border-box;
z-index:1000;
}

.group-name{
font-size:13px;
letter-spacing:2px;
font-weight:bold;
text-transform:uppercase;
color:white;
white-space:nowrap;
}

/* CONTAINER */

.container{
max-width:500px;
margin:auto;
padding:60px 20px 30px;
text-align:center;
}

/* TITLE */

.title{
font-size:32px;
letter-spacing:3px;
margin-bottom:20px;
}

/* ALBUM */

#album-card{
margin-bottom:20px;
padding:15px;
border-radius:12px;
background: rgba(255,255,255,0.03);
box-shadow:0 6px 20px rgba(0,0,0,0.5);
}

.album-cover{
width:120px;
border-radius:10px;
box-shadow:0 0 20px rgba(255,50,50,0.3);
}

.album-title{
margin-top:10px;
font-weight:bold;
}

.album-artist{
font-size:14px;
color:#aaa;
}

/* TOTAL */

#total-scrobbles{
background:rgb(81, 61, 61);
color:white;
padding:12px 15px;
border-radius:10px;
margin:15px auto;
max-width:300px;
font-size:14px;
line-height:1.4;
box-shadow:0 4px 12px rgba(0,0,0,0.4);
}

/* SKELETON */

.skeleton-row{
height:14px;
width:100%;
border-radius:6px;
background: linear-gradient(90deg, #2a0000, #4a0000, #2a0000);
background-size:200% 100%;
animation: skeleton 1.2s infinite;
}

@keyframes skeleton{
0%{background-position:-200px 0;}
100%{background-position:200px 0;}
}

/* TABLE */

table{
width:100%;
border-collapse:collapse;
margin-top:5px;
}

th, td{
text-align:left;
padding:12px 10px;
}

thead tr{
background:white !important;
}

thead th{
color:black !important;
font-weight:bold;
}

td{
border-bottom:1px solid #222;
}

tr{
background:#120000;
}

tr:hover{
background:#1f0000;
}

/* TOP 3 */

#ranking tr:nth-child(1){
background:#4a0000;
}

#ranking tr:nth-child(2){
background:#3a0000;
}

#ranking tr:nth-child(3){
background:#2a0000;
}

/* AVATAR */

.user-cell{
display:flex;
align-items:center;
gap:8px;
}

.avatar{
width:26px;
height:26px;
border-radius:50%;
object-fit:cover;
box-shadow:0 0 5px rgba(255,50,50,0.3);
}

/* ANIMAÇÃO */

#ranking{
transition: opacity 0.2s ease, transform 0.2s ease;
}

/* MOBILE */

@media (max-width: 500px){

.container{
padding:60px 10px 20px;
}

.title{
font-size:24px;
}

th, td{
padding:10px 6px;
font-size:13px;
}

}
